{% extends "base.html" %}

{% block intro %}
    <p id="p_titulo_01">a d i c i o n a n d o _ c a r d . . .</p>
{% endblock %}

{% block content %}
    <form method="POST" enctype="multipart/form-data"
          action="{{ url_for('pokemon_cards.add_card') }}"
          class="pokebola_fundo">

        <div class="pokebola_topo">
            <input type="text" name="fnome" placeholder="Nome do Pokémon" class="class-inputs" required>

            <select name="ftipo" class="class-inputs" required>
                <option value="" disabled selected>Selecione o tipo</option>
                {% for tipo in tipos %}
                    <option value="{{ tipo.id_t }}">{{ tipo.name_t }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="pokebola_linha"></div>

        <div class="pokebola_base">
            <textarea name="fdesc" placeholder="Descrição" class="class-inputs" required></textarea>

            <input type="file" name="fimg" accept="image/*" class="class-inputs">

            <div>
                <input type="submit" value="adicionar">
                <input type="reset" value="apagar">
            </div>
        </div>
    </form>
{% endblock %}