{% extends "base.html" %}

{% block title %}
    adicionar pokemon
{% endblock %}

{% block intro %}
    <p class="titulo_pages">Adicionar Pokémon</p>
{% endblock %}

{% block content %}
    <div>
        <form method="POST" action="{{ url_for('pokemon_cads.add_card') }}">
            <input type="text" name="fnome" placeholder="Nome do Pokémon" class="class-inputs" required>
            <br>
            <input type="text" name="ftipo" placeholder="Tipo" class="class-inputs" required>
            <br>
            <textarea type="text" name="fdesc" placeholder="Descrição" class="class-inputs" required></textarea>
            <br>
            <input type="submit" value="adicionar">
            <input type="reset" value="apagar">
        </form>
    </div>
{% endblock %}