<!DOCTYPE html>

<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Pokemon Cards {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/eliminar.js') }}"></script>
</head>

<body>

    <header class="">
        <p id="slogan">EQUIPE ROCKET - LISTA DE POKEMONS PARA CAPTURAR</p>
    </header>

    <main>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for categoria, mensagem in messages %}
        <div class="{{ categoria }}">
            <div class="mensagem_flash">
                {{ mensagem }}
            </div>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <div id="barra_pesquisa">
            <a href="{{ url_for('pokemon_cards.homepage') }}">Home</a>
            <a href="{{ url_for('pokemon_cards.add_card') }}">Adicionar</a>
            <a href="{{ url_for('pokemon_cards.lista_atualizar') }}">Atualizar</a>
            <a href="{{ url_for('pokemon_cards.lista_eliminar') }}">Eliminar</a>
            <form name="formPesquisa" action="{{ url_for('pokemon_cards.pesquisa') }}" method="POST"
                enctype="application/x-www-form-urlencoded">
                <input type="text" name="fpesquisa" class="input-pesquisa">
                <input type="submit" value="pesquisa">
            </form>
        </div>
        <div id="div_login">
            {% if user_logado %}
            {# {% if session.get("id_utilizador") %} #}
            <p class="logout-link">
                Olá {{username}} -
                <a href="{{ url_for('autenticacao.logout') }}" class="logout-link">Logout</a>
            </p>
            {% else %}
            <form action=" {{ url_for('autenticacao.login') }} " name="formLogin" id="id_formLogin" method="POST"
                enctype="application/x-www-form-urlencoded">
                <div id="agrupaInputs">
                    <input type="text" name="fuser" placeholder="user" class="input-login" required>
                    <input type="password" name="fpass" placeholder="password" class="input-login" required>
                </div>
                <input type="submit" value="entrar">
            </form>
            {% endif %}
        </div>

        {% block intro %}
        {% endblock %}


        {% block content %}
        {% endblock %}

    </main>

    <footer>
        <p>Projeto Python + Flask || danielly toledo</p>
    </footer>

</body>

</html>