<!DOCTYPE html>

<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Pokemon Cards {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/uteis.js') }}"></script>
</head>

<body>

    <header class="">
        <p id="slogan">EQUIPE ROCKET - LISTA DE POKEMONS PARA CAPTURAR</p>
    </header>

    <main>
        <div id="barra_pesquisa">
            <a href="{{ url_for('pokemon_cards.homepage') }}">Home</a>
            <a href="{{ url_for('pokemon_cards.add_card') }}">Adicionar</a>
            <a href="{{ url_for('pokemon_cards.lista_atualizar') }}">Atualizar</a>
            <a href="">Eliminar</a>
            <a href="">login</a>
        </div>

        {% block intro %}
        {% endblock %}
            
            
        {% block content %}
        {% endblock %}

    </main>

    <footer>
        <p>Projeto Python + Flask || danielly toledo</p>
    </footer>

</body>

</html>