{% extends "base.html" %}

{% block content %}
    {% if dados %}
        <div class="pagina_detalhes">
            <div class="card_detalhe">
                <div class="imagem_card">
                    {% if dados.img_c %}
                        <img src="{{ url_for('static', filename='imgs/pokemon/' ~ dados.img_c) }}" alt="{{ dados.name_c }}">
                    {% endif %}
                </div>
                <p class="titulo_card">{{ dados.name_c }}</p>
                <p class="tipo">{{ dados.name_t }}</p>
                <p class="descricao_detalhe">{{ dados.desc_c }}</p>
                <p class="hp_detalhe">HP: {{ dados.hp_c }}</p>
            </div>
            <a href="{{ url_for('pokemon_cards.homepage') }}" class="link_voltar">&larr; Voltar</a>
        </div>
    {% else %}
        <p>Essa carta não foi encontrada.</p>
    {% endif %}
{% endblock %}