{% extends "base.html" %}

{% block title %}
    Pokémon
{% endblock %}

{% block intro %}
    <p id="texto_intro">
        A palavra Pokémon é a contração das palavras inglesas Pocket (bolso) e Monster (monstro), significando literalmente "monstro de bolso". O termo faz referência às criaturas que são capturadas pelos treinadores e armazenadas em pequenas esferas portáteis, as Pokébolas.
    </p>
{% endblock %}

{% block content %}
    <div class="div_cards">
        {% for pokemon in lista_pokemon %}
            <div class="cards">
                <a href="{{ url_for('pokemon_cards.detalhes', card_id=pokemon.id_c) }}">
                    <div class="imagem_card">
                        <img src="{{ url_for('static', filename='imgs/pokemon/' ~ pokemon.img_c) }}" alt="{{ pokemon.name_c }}">
                    </div>
                    <p class="titulo_card"> {{pokemon.name_c}} </p>
                    <p class="tipo"> {{pokemon.name_t}} </p>
                    <p class=""> {{pokemon.desc_c}} </p>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}